:root {
    --purple: #602a70;
    --black: black;
    --white: white;
}

.question {
    color: var(--black);
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quiz {
    color: var(--black);
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: var(--black);
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.answers {
    color: var(--purple);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    color: var(--white);
    background-color: var(--purple);
}